# Required Variables
owner              = "default.mcdefaultface"
purpose            = "other"
expires            = "1970-01-01"
prefix             = "default" # Maximum 19 characters
dns_domain         = "lab-days.com"
atlas_project_id   ="673ced10eb4a3545bb4dce5e"

# Optional Variables
# instance_type      = "t3.small"
# replicas           = 1
# region             = "us-east-1"
# availability_zone  = "us-east-1a"
# lab_guide_url      = "https://example.com/guide.html"
# certbot_staging    = false
# ssh_source         = "1.1.1.1"
# branding_jar_url   = "https://example.com/branding.jar"

