# Required Variables
owner              = "default.mcdefaultface"
purpose            = "other"
expires            = "1970-01-01"
prefix             = "default"
dns_domain         = "lab-days.com"

# Optional Variables
# instance_type      = "t3.small"
# replicas           = 1
# region             = "us-east-1"
# availability_zone  = "us-east-1a"
# lab_guide_url      = "https://example.com/guide.html"
# certbot_staging    = false
