variable owner {
  type = string
  default = "<<YOUR NAME HERE>>"
}

variable expires {
    type = string
    default = "<<SANE EXPIRY DATE>>"
}

variable purpose {
    type = string
    default = "training"
}

variable replicas {
    type = number
    default = 1
}

variable region {
    type = string
    default = "us-east-1"
}

variable availability_zone {
    type = string
    default = "us-east-1a"
}

variable ami_id {
    type = string
    default = "ami-0cad6ee50670e3d0e"
}