.login-ui .login-dialog .logo {
        background-image: url('app/ext/brandingnamespace/images/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
}
div.login-ui {
	background: #666;
	background-color: #666;
}
.login-ui .login-dialog {
	background-color: white;
}
